@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-mono;
  }
}

body {
  background-color: #202c59;
}

p, h1, h2, a {
  color: #fefefe;
  letter-spacing: -0.025em;
}

